@import "../../variables.scss";

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid #1d1e22;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    margin: 0 30px;
    border-bottom: 2px solid transparent;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      height: 3px;
      right: 0;
      bottom: -0.5em;
      left: auto;
      width: 0;
      background: $mainColor;
      transition: width 250ms ease;
    }
    &:hover {
      cursor: pointer;
      &:after {
        left: 0;
        width: 100%;
        right: auto;
      }
    }
  }

  h2 {
    color: $mainColor;
    margin: 0 30px;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: none;
    }
  }
}
